<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    <title>#{titleController.pageTitle}</title>
</h:head> 
<body> 
	<div class="container">
		<div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Contact Person Details
                </div>
        </div>
        <h:form id="MyForm">
        	<table class="table table-bordered ">
        		<tr>
                        <td width ="150" valign="top">Id:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{contactPersonController.contactPerson.personId}</h:outputLabel>
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">FirstName:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "FirstName" >#{contactPersonController.contactPerson.firstName}</h:outputLabel>
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">LastName:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "LastName" >#{contactPersonController.contactPerson.lastName}</h:outputLabel>
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">Gender:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Gender" >#{contactPersonController.contactPerson.gender}</h:outputLabel>
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">Phone Number:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "PhoneNumber" >#{contactPersonController.contactPerson.phoneNumber}</h:outputLabel>
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">Email:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Email" >#{contactPersonController.contactPerson.email}</h:outputLabel>
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">Customer:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Customer" >#{contactPersonController.contactPerson.customer.customerName}</h:outputLabel>
                        </td>
                </tr>
        	</table>
        	<h:link id="close" value="Close" outcome="/normalPage.xhtml"
 						          class="btn btn-primary" >
 				<f:param name="ID" value="#{contactPersonController.contactPerson.customer.user.id}"/>
 			</h:link>
        </h:form>
	</div>
</body> 
</html>
