<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"> 

<h:head>
		<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
</h:head> 
<body> 
	<div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add ContactPerson
                </div>
            </div>
            <div>
                <f:view>
                    <h:form>
                        <h1><h:outputText value="Create"/></h1>
                        <table class="table table-bordered ">
                            <tr>
                                <td width ="200">
                                    <h:outputLabel value="FirstName" for="firstName" />
                                </td>
                                <td>
                                    <h:inputText id="firstName" value="#{contactPerson.firstName}" title="FirstName" />
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <h:outputLabel value="LastName" for="lastName" />
                                </td>
                                <td>
                                    <h:inputText id="lastName" value="#{contactPerson.lastName}" title="LastName" />
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <h:outputLabel value="PhoneNumber" for="phoneNumber" />
                                </td>
                                <td>
                                    <h:inputText id="suburb" value="#{contactPerson.phoneNumber}" title="PhoneNumber" />
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <h:outputLabel value="Email" for="email" />
                                </td>
                                <td>
                                    <h:inputText id="email" value="#{contactPerson.email}" title="Email" />
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel value="Age" for="age" />
                                </td>
                                <td>
                                    <h:inputText id="age" value="#{contactPerson.age}" title="Age" />
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel value="Gender:" for="gender" />
                                </td>
                                <td>
                                    <h:inputText id="gender" value="#{contactPerson.gender}" title="Gender" />
                                </td>

                            </tr>

                            
                            <tr>
                                <td width ="100" valign="top">Customer: </td>
                                <td>
                                    <h:selectOneMenu id="customer" value="#{contactPerson.customerId}"  >
                                        <f:selectItem itemValue="#{null}" itemLabel="select" />
                                        <f:selectItems value="#{systemManagedBean.allcustomer}" var="c"  
                                                       itemLabel="#{c.customerName}" itemValue="#{c.customerId}" />
                                    </h:selectOneMenu>
                                </td>
                            </tr> 
                                 
                        </table>

                        <h:commandButton id="submit" value="Submit" action="#{addContact.addContact(contactPerson)}" class="btn btn-primary" />
                        <h:link id="close" value="Close" outcome="faces/allcontactperson.xhtml" class="btn btn-primary" />
                    </h:form>

                </f:view>
            </div>
            
        </div>
</body> 
</html>
