<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>Create</title>
</h:head> 
<body> 
	<div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add customer
                </div>
            </div>
            <div>
                <f:view>
                    <h:form>
                        <h1><h:outputText value="Create"/></h1>
                        <table class="table table-bordered ">
                            <tr>
                                <td width ="200">
                                    <h:outputLabel value="CustomerName" for="firstName" />
                                </td>
                                <td>
                                    <h:inputText id="customerName" value="#{customer.customerName}" title="CustomerName" />
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <h:outputLabel value="City" for="city" />
                                </td>
                                <td>
                                    <h:inputText id="city" value="#{customer.city}" title="City" />
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <h:outputLabel value="State" for="state" />
                                </td>
                                <td>
                                    <h:inputText id="state" value="#{customer.state}" title="State" />
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <h:outputLabel value="Nation" for="nation" />
                                </td>
                                <td>
                                    <h:inputText id="nation" value="#{customer.nation}" title="Nation" />
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h:outputLabel value="Postcode" for="postcode" />
                                </td>
                                <td>
                                    <h:inputText id="postcode" value="#{customer.postcode}" title="Postcode" />
                                </td>

                            </tr>
                            
							<tr>
                                <td width ="100" valign="top">Industry: </td>
                                <td>
                                    <h:selectOneMenu id="industry" value="#{customer.industryId}"  >
                                        <f:selectItem itemValue="#{null}" itemLabel="select" />
                                        <f:selectItems value="#{systemManagedBean.allIndustry}" var="i"  
                                                       itemLabel="#{i.type}" itemValue="#{i.id}" />
                                    </h:selectOneMenu>
                                </td>
                            </tr> 
                            
                            <tr>
                                <td width ="100" valign="top">User: </td>
                                <td>
                                    <h:selectOneMenu id="user" value="#{customer.userId}"  >
                                        <f:selectItem itemValue="#{null}" itemLabel="select" />
                                        <f:selectItems value="#{systemManagedBean.allUsers}" var="u"  
                                                       itemLabel="#{u.lastName}" itemValue="#{u.id}" />
                                    </h:selectOneMenu>
                                </td>
                            </tr> 
                                 
                        </table>

                        <h:commandButton id="submit" value="Submit" action="#{addCustomer.addCustomer(customer)}" class="btn btn-primary" />
                        <h:link id="close" value="Close" outcome="faces/allcustomer.xhtml" class="btn btn-primary" />
                    </h:form>

                </f:view>
            </div>
            
        </div>
</body> 
</html>
