<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>Create</title>
</h:head> 
<body> 
	<div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add industry
                </div>
            </div>
            <div>
                <f:view>
                    <h:form>
                        <h1><h:outputText value="Create"/></h1>
                        <table class="table table-bordered ">
                            <tr>
                                <td width ="200">
                                    <h:outputLabel value="Type" for="type" />
                                </td>
                                <td>
                                    <h:inputText id="type" value="#{industry.type}" title="Type" />
                                </td>

                            </tr>

                            
                                 
                        </table>

                        <h:commandButton id="submit" value="Submit" action="#{addIndustry.addIndustry(industry)}" class="btn btn-primary" />
                        <h:link id="close" value="Close" outcome="faces/allcustomer.xhtml" class="btn btn-primary" />
                    </h:form>

                </f:view>
            </div>
            
        </div>
</body> 
</html>
