<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>User</title>
</h:head> 
<h:body> 
	<div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    User  List
                </div>
            </div>
            <h:form id="MyForm">
            	<table class="table table-bordered table-striped">
            	<tr>
            		<td>
            			<h:outputLabel id="Id" value="Id"  />
            		</td>
            		<td>
            			<h:outputLabel id="FirstName" value="FirstName"  />
            		</td>
            		<td>
            			<h:outputLabel id="LastName" value="LastName"  />
            		</td>
            	</tr>
            	<ui:repeat id="Userrepeat" value="#{adminApplication.userList}" var="users" varStatus="status">
            		<tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent">
            			<td>
            				<h:outputText value="#{adminApplication.userList.get(status.index).id}" id="id" />
            				
            			</td>
            			<td>
            				<h:outputText value="#{adminApplication.userList.get(status.index).firstName}" id="outFirstName" />
            				
            			</td>
            			<td>
            				<h:outputText value="#{adminApplication.userList.get(status.index).lastName}" id="outLastName" ></h:outputText>
            				
            			</td>
            			<td>
                              <h:link value="View | " outcome="faces/userdetil.xhtml" disabled="#{adminApplication.userList.get(status.index).id == null}">
                                <f:param name="ID" value="#{status.index + 1}"/>
                              </h:link>
                        </td>
            		</tr>
            	</ui:repeat>
            	</table>
            	<div>
            		<h:commandButton id="viewAll" value="View All" action="#{searchUser.searchAll()}" class="btn btn-primary" >
                        <f:param name="ID" value="#{status.index + 1}"/>
                    </h:commandButton>
            	</div>
            	
            	<div>
                    <h:inputText value="#{searchUser.searchByInt}" id="searchById" required="true" onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 1;} "   />
                    <h:commandButton id="searchId" value="Search by Id" action="#{searchUser.searchUserById(searchUser.searchByInt)}" class="btn btn-primary" >
                        <f:param name="ID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                
                
            	<div>
            		<h:link value="View all customer" outcome="faces/allcustomer.xhtml"></h:link>
            	</div>
            	<div>
            		<h:link value="View all contact person" outcome="faces/allcontactperson.xhtml"></h:link>
            	</div>
            	<h:link id="close" value="Close" outcome="faces/index.xhtml"
 						          class="btn btn-primary" />
            	
            </h:form>
     </div>       
</h:body> 
</html>
