<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>Industry</title>
</h:head> 
<body> 
	<div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Customer  List
                </div>
            </div>
            <h:form id="MyForm">
            	<table class="table table-bordered table-striped">
            	<tr>
            		<td>
            			<h:outputLabel id="IndustryId" value="IndustryId"  />
            		</td>
            		<td>
            			<h:outputLabel id="Type" value="Typee"  />
            		</td>
            		<td>
            			<h:outputLabel id="Nation" value="Nation"  />
            		</td>
            	</tr>
            	<ui:repeat id="Industryrepeat" value="#{adminApplication.industryList}" var="industry" varStatus="status">
            		<tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent">
            			<td>
            				<h:outputText value="#{adminApplication.industryList.get(status.index).id}" id="industryId" />
            				
            			</td>
            			<td>
            				<h:outputText value="#{adminApplication.industryList.get(status.index).type}" id="type" />
            				
            			</td>
            			
            			<td>
       
                              <h:commandLink value="Delete" action="#{removeIndustry.removeIndustry(adminApplication.industryList.get(status.index).id)}" disabled="#{adminApplication.industryList.get(status.index).id == null}" >
                               </h:commandLink>
                              
                        </td>
                 
            		</tr>
            	</ui:repeat>
            	</table>
            	<div>
            		
            		<h:link id="add" value="Add" outcome="faces/addindustry.xhtml" class="btn btn-primary" />
            		
            	</div>
            	
                
                
                
            	<div>
            		<h:link value="Back" outcome="faces/allcustomer.xhtml">
            			
            		</h:link>
            	</div>
            	
            </h:form>
     </div>
</body> 
</html>
