<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    <title>#{titleController.pageTitle}</title>
</h:head> 
<body> 
	<div class="container">
		<div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Edit contact person
                </div>
        </div>
        <h:form id="MyForm">
        	<table class="table table-bordered ">
        		<tr>
                        <td width ="150" valign="top">Id:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{contactPersonController.contactPerson.personId}</h:outputLabel>
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">First name: </td>
                         
                        <td valign="bottom">
                            <h:inputText id = "firstName" value="#{contactPersonController.contactPerson.firstName}" required="true"
                             
                                         requiredMessage="Please enter the first name. "></h:inputText>
                                         <br/>
                            <h:message for="firstName" class="#{!firstName.valid ? 'label label-warning' : 'none'}" />
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">Last name: </td>
                         
                        <td valign="bottom">
                            <h:inputText id = "lastName" value="#{contactPersonController.contactPerson.lastName}" required="true"
                             
                                         requiredMessage="Please enter the last name. "></h:inputText>
                                         <br/>
                            <h:message for="lastName" class="#{!lastName.valid ? 'label label-warning' : 'none'}" />
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">Gender: </td>
                         
                        <td valign="bottom">
                            <h:inputText id = "gender" value="#{contactPersonController.contactPerson.gender}" required="true"
                             
                                         requiredMessage="Please enter the gender. "></h:inputText>
                                         <br/>
                            <h:message for="gender" class="#{!gender.valid ? 'label label-warning' : 'none'}" />
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">Age: </td>
                         
                        <td valign="bottom">
                            <h:inputText id = "age" value="#{contactPersonController.contactPerson.age}" required="true"
                             			validatorMessage="Number of rooms must be greater than 18"
                                         requiredMessage="Please enter the age. ">
                            	<f:validateLongRange minimum="18"/>
                            </h:inputText>
                            <br/>
                            <h:message for="age" class="#{!age.valid ? 'label label-warning' : 'none'}" />
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">Email: </td>
                         
                        <td valign="bottom">
                            <h:inputText id = "email" value="#{contactPersonController.contactPerson.email}"  required="true"
                  
                                         requiredMessage="Please enter the email. "></h:inputText>
                                         <br/>
                            <h:message for="email" class="#{!email.valid ? 'label label-warning' : 'none'}" />
                        </td>
                </tr>
                
                <tr>
                        <td width ="100" valign="top">Phone number: </td>
                         
                        <td valign="bottom">
                            <h:inputText id = "phoneNumber" value="#{contactPersonController.contactPerson.phoneNumber}"  required="true" 
                             			 converterMessage="Please enter a number"	
                                         requiredMessage="Please enter the phone number. ">
                            	<f:convertNumber integerOnly="true"/>
                            </h:inputText>
                            <br/>
                            <h:message for="phoneNumber" class="#{!phoneNumber.valid ? 'label label-warning' : 'none'}" />
                        </td>
                </tr>
                
        		
                <tr>
                    	<td width ="100" valign="top">Customer: </td>
                    	<td>
                    	<h:selectOneMenu id="customer" value="#{contactPersonController.contactPerson.customer.customerId}" >
                        	<f:selectItem itemValue="#{null}" itemLabel="--select--" />
                        	<f:selectItems value="#{systemManagedBean.allcustomer}" var="c"  
                                       itemLabel="#{c.customerName}" itemValue="#{c.customerId}" />
                    	</h:selectOneMenu>
                    	</td>
                    </tr>
        	</table>
        	<h:commandButton id="save" value="Save" action="#{systemManagedBean.editContact(contactPersonController.contactPerson)}"  class="btn btn-primary" >
                    <f:param name="personID" value="#{contactPersonController.personId+1}"/>
            </h:commandButton>
            <h:link id="close" value="Close" outcome="faces/allcontactperson.xhtml"
						          class="btn btn-primary" />
        </h:form>
	</div>
</body> 
</html>
