<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    <title>#{titleController.pageTitle}</title>
</h:head> 
<body> 
	<div class="container">
		<div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Edit customer
                </div>
        </div>
        <h:form id="MyForm">
        	<table class="table table-bordered ">
        		<tr>
                        <td width ="150" valign="top">Id:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerId}</h:outputLabel>
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">customer name: </td>
                         
                        <td valign="bottom">
                            <h:inputText id = "customerName" value="#{customerController.customer.customerName}" required="true"
                             
                                         requiredMessage="Please enter the name. "></h:inputText>
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">city: </td>
                         
                        <td valign="bottom">
                            <h:inputText id = "city" value="#{customerController.customer.address.city}" required="true"
                             
                                         requiredMessage="Please enter the city. "></h:inputText>
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">state: </td>
                         
                        <td valign="bottom">
                            <h:inputText id = "state" value="#{customerController.customer.address.state}" required="true"
                             
                                         requiredMessage="Please enter the state. "></h:inputText>
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">nation: </td>
                         
                        <td valign="bottom">
                            <h:inputText id = "nation" value="#{customerController.customer.address.nation}" required="true"
                             
                                         requiredMessage="Please enter the nation. "></h:inputText>
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">postcode: </td>
                         
                        <td valign="bottom">
                            <h:inputText id = "postcode" value="#{customerController.customer.address.postcode}" binding="#{postcode}" required="true"
                             			validatorMessage="Please enter a valid postcode."
                                         requiredMessage="Please enter the city. "></h:inputText>
                        </td>
                </tr>
                <tr>
                    	<td width ="100" valign="top">Industry: </td>
                    	<td>
                    	<h:selectOneMenu id="industry" value="#{customerController.customer.industry.id}" >
                        	<f:selectItem itemValue="#{null}" itemLabel="--select--" />
                        	<f:selectItems value="#{systemManagedBean.allIndustry}" var="i"  
                                       itemLabel="#{i.type}" itemValue="#{i.id}" />
                    	</h:selectOneMenu>
                    	</td>
                    </tr>
        		
                <tr>
                    	<td width ="100" valign="top">User: </td>
                    	<td>
                    	<h:selectOneMenu id="user" value="#{customerController.customer.user.id}" >
                        	<f:selectItem itemValue="#{null}" itemLabel="--select--" />
                        	<f:selectItems value="#{systemManagedBean.allUsers}" var="u"  
                                       itemLabel="#{u.lastName}" itemValue="#{u.id}" />
                    	</h:selectOneMenu>
                    	</td>
                    </tr>
        	</table>
        	<h:commandButton id="save" value="Save" action="#{systemManagedBean.editCustomer(customerController.customer)}"  class="btn btn-primary" >
                    <f:param name="customerID" value="#{customerController.customerId+1}"/>
            </h:commandButton>
            <h:link id="close" value="Close" outcome="faces/allcustomer.xhtml"
						          class="btn btn-primary" />
        </h:form>
	</div>
</body> 
</html>
