<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    <title>#{titleController.pageTitle}</title>
</h:head> 
<body> 
	<div class="container">
		<div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Customer Details
                </div>
        </div>
        <h:form id="MyForm">
        	<table class="table table-bordered ">
        		<tr>
                        <td width ="150" valign="top">Id:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerId}</h:outputLabel>
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">Name:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Name" >#{customerController.customer.customerName}</h:outputLabel>
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">Address:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Address" >#{customerController.customer.address}</h:outputLabel>
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">Industry:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Industry" >#{customerController.customer.industry}</h:outputLabel>
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">Belong to:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "User" >#{customerController.customer.user}</h:outputLabel>
                        </td>
                </tr>
        	</table>
        	<h:link id="close" value="Close" outcome="faces/allcustomer.xhtml"
 						          class="btn btn-primary" />
        </h:form>
	</div>
</body> 
</html>
