<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>HomePage</title>
</h:head> 
<h:body>
 <h1>Navigation</h1>
 <h:link value="Access Administrationl" outcome="faces/adminpage.xhtml"></h:link>
 <br/>
 <h:link value="Access Normal User1" outcome="faces/normalPage.xhtml">
 	<f:param name="ID" value= "1" />
 </h:link>
 <h:link value="Access Normal User2" outcome="faces/normalPage.xhtml">
 	<f:param name="ID" value= "2" />
 </h:link>
</h:body>
</html>
