<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>Customer</title>
</h:head> 
<body> 
	<div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Customer  List
                </div>
            </div>
            <h:form id="MyForm">
            	<table class="table table-bordered table-striped">
            	<tr>
            		<td>
            			<h:outputLabel id="CustomerId" value="CustomerId"  />
            		</td>
            		<td>
            			<h:outputLabel id="CustomerName" value="CustomerName"  />
            		</td>
            		<td>
            			<h:outputLabel id="Nation" value="Nation"  />
            		</td>
            	</tr>
            	<ui:repeat id="Customerrepeat" value="#{normalApplication.customers}" var="customer" varStatus="status">
            		<tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent">
            			<td>
            				<h:outputText value="#{normalApplication.customers.get(status.index).customerId}" id="customerId" />
            				
            			</td>
            			<td>
            				<h:outputText value="#{normalApplication.customers.get(status.index).customerName}" id="outName" />
            				
            			</td>
            			<td>
            				<h:outputText value="#{normalApplication.customers.get(status.index).industry}" id="outIndustry" ></h:outputText>
            				
            			</td>
            			<td>
                              <h:link value="View | " outcome="faces/detail.xhtml">
                                <f:param name="customerID" value="#{status.index + 1}"/>
                              </h:link>
                              <h:link value="Edit | " outcome="faces/customeredit.xhtml">
                          
                                <f:param name="customerID" value="#{status.index + 1}"/>
                              </h:link>
                              
                        </td>
                 
            		</tr>
            	</ui:repeat>
            	</table>
            	<div>
            		<h:link value="Back" outcome="faces/normalPage.xhtml">
            			<f:param name="ID" value= "#{normalApplication.customers.get(status.index).user.id + 1}" />
            		</h:link>
            	</div>
            	
            </h:form>
     </div>
</body> 
</html>
