<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>User</title>
</h:head> 
<body> 
<div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    User  List
                </div>
            </div>
            <h:form id="MyForm">
            	<table class="table table-bordered table-striped">
            	<tr>
            		<td>
            			<h:outputLabel id="Id" value="Id"  />
            		</td>
            		<td>
            			<h:outputLabel id="FirstName" value="FirstName"  />
            		</td>
            		<td>
            			<h:outputLabel id="LastName" value="LastName"  />
            		</td>
            	</tr>
      
            		<tr>
            			<td>
            				<h:outputText value="#{usersController.user.id}" id="id" />
            				
            			</td>
            			<td>
            				<h:outputText value="#{usersController.user.firstName}" id="outFirstName" />
            				
            			</td>
            			<td>
            				<h:outputText value="#{usersController.user.lastName}" id="outLastName" ></h:outputText>
            				
            			</td>
            			<td>
            				  <h:link value="View | " outcome="normal-user/normaluserview.xhtml">
                                <f:param name="ID" value="#{usersController.user.id}"/>
                              </h:link>
            			</td>
            			
            		</tr>
            	
            	</table>
            	
            	
            </h:form>
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Customer  List
                </div>
            </div>
            <h:form id="MyForm2">
            	<table class="table table-bordered table-striped">
            	<tr>
            		<td>
            			<h:outputLabel id="CustomerId" value="CustomerId"  />
            		</td>
            		<td>
            			<h:outputLabel id="CustomerName" value="CustomerName"  />
            		</td>
            		<td>
            			<h:outputLabel id="Nation" value="Nation"  />
            		</td>
            	</tr>
            	<ui:repeat id="Customerrepeat" value="#{normalCustomerController.customers}" var="customer" varStatus="status">
            		<tr onclick="document.getElementById('MyForm2:principle').value = document.getElementById('MyForm2:Myrepeat:#{status.index}:outPrice').textContent">
            			<td>
            				<h:outputText value="#{normalCustomerController.customers.get(status.index).customerId}" id="customerId" />
            				
            			</td>
            			<td>
            				<h:outputText value="#{normalCustomerController.customers.get(status.index).customerName}" id="outName" />
            				
            			</td>
            			<td>
            				<h:outputText value="#{normalCustomerController.customers.get(status.index).industry}" id="outIndustry" ></h:outputText>
            				
            			</td>
            			<td>
                              <h:link value="View | " outcome="normal-user/normalcustomerview.xhtml">
                                <f:param name="customerID" value="#{status.index + 1}"/>
                              </h:link>
                              <h:link value="Edit | " outcome="faces/customeredit.xhtml">
           
                                <f:param name="customerID" value="#{status.index + 1}"/>
                              </h:link>
                             
                              <h:link value="Add contact | " outcome="normal-user/normalcontactadd.xhtml">
           
                                <f:param name="ID" value="#{usersController.user.id}"/>
                              </h:link>
                              <h:commandLink value="Delete" action="#{removeCustomer.removeCustomer(normalCustomerController.customers.get(status.index).customerId)}" disabled="#{normalCustomerController.customers.get(status.index).customerId == null}">
                              	<f:param name="ID" value="#{usersController.user.id}"/>
                              </h:commandLink>
                        </td>
                 
            		</tr>
            	</ui:repeat>
            	
            	</table> 
            	<h:link id="add" value="Add customer" outcome="normal-user/normalcustomeradd.xhtml" class="btn btn-primary" >
            		<f:param name="ID" value="#{usersController.user.id}"/>
            	</h:link> 	
            </h:form>
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    User  List
                </div>
            </div>
            <h:form id="MyForm3">
            	<table class="table table-bordered table-striped">
            	<tr>
            		<td>
            			<h:outputLabel id="ContactPersonId" value="ContactPersonId"  />
            		</td>
            		<td>
            			<h:outputLabel id="FirstName" value="FirstName"  />
            		</td>
            		<td>
            			<h:outputLabel id="LastName" value="LastName"  />
            		</td>
            		<td>
            			<h:outputLabel id="Customer" value="Customer"  />
            		</td>
            	</tr>
            	<ui:repeat id="Contactpersonrepeat" value="#{normalCustomerController.contactPersons}" var="contactPerson" varStatus="status">
            		<tr onclick="document.getElementById('MyForm3:principle').value = document.getElementById('MyForm3:Myrepeat:#{status.index}:outPrice').textContent">
            			<td>
            				<h:outputText value="#{normalCustomerController.contactPersons.get(status.index).personId}" id="personId" />
            				
            			</td>
            			<td>
            				<h:outputText value="#{normalCustomerController.contactPersons.get(status.index).firstName}" id="outFirstName" />
            				
            			</td>
            			<td>
            				<h:outputText value="#{normalCustomerController.contactPersons.get(status.index).lastName}" id="outLastName" ></h:outputText>
            				
            			</td>
            			<td>
            				<h:outputText value="#{normalCustomerController.contactPersons.get(status.index).customer.customerName}" id="outCustomerName" ></h:outputText>
            				
            			</td>
            			<td>
                              <h:link value="View | " outcome="normal-user/normalcontactview.xhtml">
                                <f:param name="personID" value="#{status.index + 1}"/>
                              </h:link>
                              <h:link value="edit | " outcome="normal-user/normalcontactedit.xhtml">
                                <f:param name="personID" value="#{status.index + 1}"/>
                              </h:link>
                              <h:commandLink value="Delete" action="#{removeContact.removeContact(normalCustomerController.contactPersons.get(status.index).personId)}" disabled="#{normalCustomerController.contactPersons.get(status.index).personId == null}">
                              	 <f:param name="ID" value="#{usersController.user.id}"/>
                               </h:commandLink>
                        </td>
            		</tr>
            	</ui:repeat>
            	</table>
            	
            	
            </h:form>
            <h:link value="Back" outcome="/adminpage.xhtml"> 			
            </h:link>   
     </div>       
</body> 
</html>
