<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>Contact person</title>
</h:head> 
<body> 
	<div class="container">
	<div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Contact person List
                </div>
            </div>
            <h:form id="MyForm3">
            	<table class="table table-bordered table-striped">
            	<tr>
            		<td>
            			<h:outputLabel id="ContactPersonId" value="ContactPersonId"  />
            		</td>
            		<td>
            			<h:outputLabel id="FirstName" value="FirstName"  />
            		</td>
            		<td>
            			<h:outputLabel id="LastName" value="LastName2"  />
            		</td>
            		<td>
            			<h:outputLabel id="Customer" value="Customer"  />
            		</td>
            	</tr>
            	<ui:repeat id="Contactpersonrepeat" value="#{normalCustomerController.contactPersons}" var="contactPerson" varStatus="status">
            		<tr onclick="document.getElementById('MyForm3:principle').value = document.getElementById('MyForm3:Myrepeat:#{status.index}:outPrice').textContent">
            			<td>
            				<h:outputText value="#{normalContactController.contactPersons.get(status.index).personId}" id="personId" />
            				
            			</td>
            			<td>
            				<h:outputText value="#{normalContactController.contactPersons.get(status.index).firstName}" id="outFirstName" />
            				
            			</td>
            			<td>
            				<h:outputText value="#{normalContactController.contactPersons.get(status.index).lastName}" id="outLastName" ></h:outputText>
            				
            			</td>
            			<td>
            				<h:outputText value="#{normalContactController.contactPersons.get(status.index).customer.customerName}" id="outCustomerName" ></h:outputText>
            				
            			</td>
            			<td>
                              <h:link value="View | " outcome="faces/contactdetail.xhtml">
                                <f:param name="personID" value="#{status.index + 1}"/>
                              </h:link>
                        </td>
            		</tr>
            	</ui:repeat>
            	</table>
            </h:form>
	
</div>
</body> 
</html>
