<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    <title>#{titleController.pageTitle}</title>
</h:head> 
<body> 
	<div class="container">
		<div class="navbar navbar-inverse">
			<div class="navbar-brand">
                    User Details
                </div>
		</div>
		<h:form id="MyForm">
			<table class="table table-bordered ">
				<tr>
                        <td width ="150" valign="top">Id:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{usersController.user.id}</h:outputLabel>
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">FirstName:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "FirstName" >#{usersController.user.firstName}</h:outputLabel>
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">lastName:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "lastName" >#{usersController.user.lastName}</h:outputLabel>
                        </td>
                </tr>
                <tr>
                        <td width ="100" valign="top">userName:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "userName" >#{usersController.user.username}</h:outputLabel>
                        </td>
                </tr>
			</table>
			<h:link id="close" value="Close" outcome="faces/adminpage.xhtml"
 						          class="btn btn-primary" />
		</h:form>
	</div>
</body> 
</html>
